<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/general :: head"></head>

  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/content.css" />
  <link rel="stylesheet" href="css/footer.css" />
  <link rel="stylesheet" href="css/navbar.css" />
  <link rel="stylesheet" href="css/mobile.css" />

  <body class="w-100">
    <section class="page-wrapper w-100">
      <header>
        <nav th:replace="fragments/general :: navbar"></nav>
        <div class="" id="homepage-banner">
          <img th:src="@{imgs/fried-ribs.jpg}" alt="homepage image" />
          <div id="banner-info" class="d-flex flex-column">
            <div class="text-center" id="banner-title">
              <h1>Meek's Cafe</h1>
            </div>

            <div class="text-center" id="banner-subtitle">
              <p>A SOUL TRAIN FOR SOUL FOOD.</p>
            </div>

            <div class="text-center mb-4" id="banner-schedule">
              Open Daily Monday - Saturday
            </div>

            <div
              id="banner-order"
              class="d-flex justify-content-center align-items-center"
            >
              <a
                href="https://www.grubhub.com/restaurant/meeks-cafe-5590-n-foster-rd-san-antonio/4398200?utm_source=google&utm_medium=organic&utm_campaign=place-action-link&rwg_token=ADQ7psQOTRBdbsxrFaSB1-hhzu3tc32GfHDBrXSrIYfVeNbMQorbYFXzdxOovN9P-kndE7OAEyPkxuWivh_7wJGkRK3O0Pevbw%3D%3D"
                class="order-button"
                target="_blank"
                >ORDER ONLINE</a
              >
            </div>
          </div>
        </div>
      </header>

      <main class="w-100 d-flex flex-column">
        <section id="about-us" class="d-flex flex-column p-5">
          <div
            class="d-flex flex-column align-items-center justify-content-center mt-4"
          >
            <h2 class="text-center text-dark mt-5">We Are Who We Serve</h2>
            <p
              class="text-center text-dark mb-5 d-flex justify-content-center w-100"
            >
              Meeks Cafe is the go-to spot for the best Southern fried ribs in
              town. From the perfectly crispy exterior to the juicy, tender meat
              inside, our ribs are a true sensation for any foodie. But that's
              not all that sets Meeks Cafe apart. As a local business, we are
              deeply committed to serving and supporting their community. Our
              warm and friendly atmosphere, coupled with exceptional customer
              service, makes for an unforgettable dining experience that keeps
              customers coming back for more. At Meeks Cafe, it's not just about
              great food, it's about fostering a sense of community and
              connection.
            </p>
            <div
              id="who-we-are"
              class="d-flex w-100 justify-content-center gap-4"
            >
              <div class="img-wrapper">
                <img th:src="@{imgs/old-guy.jpeg}" alt="" />
              </div>

              <div class="img-wrapper">
                <img th:src="@{imgs/happy-family.jpeg}" alt="" />
              </div>

              <div class="img-wrapper">
                <img th:src="@{imgs/blowing-food.jpeg}" alt="" />
              </div>
            </div>
            <div>
              <!-- <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13893.279539597965!2d-98.3590118!3d29.4778641!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865cf3a8ee4b8549%3A0x2c6859e380c1b841!2sMeeks%20Cafe!5e0!3m2!1sen!2sus!4v1681955745091!5m2!1sen!2sus"
                width="600"
                height="600"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe> -->
            </div>
            <div></div>
          </div>
        </section>

        <section id="gallery" class="d-flex flex-column position-relative">
          <div
            class="d-flex justify-content-center align-items-center position-relative shrink-0"
          >
            <h2 class="text-center text-dark mt-5">Gallery</h2>

            <img
              class="down-arrow mt-5 ml-4"
              th:src="@{imgs/assets/down-arrow.svg}"
              alt=""
            />
          </div>

          
          <div class="d-flex justify-content-center w-100 scroll-overflow-x gallery mb-5 flex-shrink-0">
            <div class="gallery-image flex-shrink-0">
              <img th:src="@{imgs/gallery/chicken-wings.jpeg}" alt="" />
            </div>
            <div class="gallery-image flex-shrink-0">
              <img th:src="@{imgs/gallery/porkchops-mac-ncheese.jpeg}" alt="" />
            </div>
            <div class="gallery-image flex-shrink-0">
              <img th:src="@{imgs/gallery/assortment.jpeg}" alt="" />
            </div>
          </div>

           <div class="d-flex justify-content-center w-100 scroll-overflow-x gallery mb-5 flex-shrink-0">
            <div class="gallery-image flex-shrink-0">
              <img th:src="@{imgs/gallery/jumbo.jpg}" alt="" />
            </div>
            <div class="gallery-image flex-shrink-0">
              <img th:src="@{imgs/gallery/mac.jpg}" alt="" />
            </div>
            <div class="gallery-image flex-shrink-0">
              <img th:src="@{imgs/gallery/broc.jpg}" alt="" />
            </div>
          </div>

          <div class="d-flex justify-content-center w-100 scroll-overflow-x gallery mb-5 flex-shrink-0">
              <div class="gallery-image flex-shrink-0">
                <img th:src="@{imgs/gallery/greenbeans.jpg}" alt="" />
              </div>
              <div class="gallery-image flex-shrink-0 position-relative">
                <img id="fullplate" th:src="@{imgs/gallery/fullplate.jpg}" alt="" />
              </div>
              <div class="gallery-image flex-shrink-0">
                <img th:src="@{imgs/gallery/jumbo2.jpg}" alt="" />
              </div>
            </div>
          
        </section>

        <section id="contact-us" class="d-flex w-100 position-relative">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13893.279539597965!2d-98.3590118!3d29.4778641!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865cf3a8ee4b8549%3A0x2c6859e380c1b841!2sMeeks%20Cafe!5e0!3m2!1sen!2sus!4v1681955745091!5m2!1sen!2sus"
            width="40%"
            height="250"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>

          <div id="contact-second" style="width: 60%; height: 250px p-4" class="d-flex">
            
              <div class="d-flex justify-content-center" style="width: 50%; height: 250px; background-color: #E5E5E555;">
                <div class="h-100 d-flex align-items-center">
                  <a id="call-us" href="tel:2100000000">Call Us</a>
                </div>
              </div>
              <div class="d-flex justify-content-center align-items-center" style="width: 50%; height: 250px; background-color: #E5E5E555;" >
                  <div>
                    <a href="https://www.facebook.com/people/Meeks-Cafe/100085428690613/">
                      <img id="facebook" src="imgs/assets/facebook.svg" alt="">
                    </a>
                  </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <footer th:replace="fragments/general :: footer"></footer>
    </section>
  </body>
</html>
